# Окружение
ENV=production
DEBUG=false

# Telegram Bot
SKIP_TG_VALIDATION=false
TG_BOT_TOKEN=your_bot_token_here

# База данных
DATABASE_URL=sqlite:///./data/database.db

# Flibusta - HTTP Proxy
HTTP_PROXY_HOST=146.247.121.80
HTTP_PROXY_PORT=9524
HTTP_PROXY_USER=user277969
HTTP_PROXY_PASSWORD=cdi7wr
FLIBUSTA_URL=https://flibusta.is

# Flibusta - Tor Proxy (альтернатива HTTP прокси)
# TOR_PROXY_HOST=localhost
# TOR_PROXY_PORT=9050
